{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  



    <div class="container">
        <h1>Post Detail</h1>
        <ul>
            <li>
                <h3>{{post}}</h3>
    
            </li>
            <li>
                
                <h3>{{post.publish_date|date:"M d, Y"}}</h3>
            </li>
        </ul>
    <img src="{{post.image.url}}" alt="">

    <ul>
      
        <h2>All Reviews ({{reviews|length}})</h2>

        
        {% for review in reviews %}
          
         
          <h3>{{review.review|truncatewords:25}}---- {{review.rate}}---{{review.user}}</h3>

          {% empty %}
          <li><h4>Sorry , There Are No Reviews </h4></li>
        

        {% endfor %}
          

    
    </ul>

    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

       {% bootstrap_button button_type="submit" content="OK" %}
       {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
    </div>
  
 
{% endblock body %}
  