{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block body %}
  






      <div class="container">
        <h1>Post List</h1>

        {% for object in posts %}
        <ul>
            <li>
                <a href="/blog/{{object.slug}}"><h3>{{object}}</h3></a>
            </li>
            <a href="/blog/delete/{{object.slug}}">Delete</a>
            <a href="/blog/update/{{object.slug}}">Update</a>
            
        </ul>
    {% endfor %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Add Post" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
        
    </form>
    
      </div>
  

{% endblock body %}
  